body{
    font-family: sans-serif;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

form{
    background: #eee;
    border-radius: 10px;
}


input[type=text]{
    border-radius: 5px;
}

#evaluatePig, #evaluateForm{
    border-radius: 5px;
}
#evaluateForm{
    margin-top: 1em;
}



